spring:
  profiles:
    include: int
  datasource:
    url: jdbc:mysql://${DATABASE_ADDRESS:localhost}/${DATABASE_NAME:faf}?useSSL=false
    name: ${DATABASE_NAME:faf}
    username: ${DATABASE_USERNAME:faf-java-api}
    password: ${DATABASE_PASSWORD:banana}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: ${DATABASE_DDL_AUTO:none}
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
  h2:
    console:
      enabled: true


faf-api:
  jwt:
    secret: banana
  map:
    target-directory: "build/cache/map/maps"
    directory-preview-path-small: "build/cache/map_previews/small"
    directory-preview-path-large: "build/cache/map_previews/large"
    small-previews-url-format: "http://localhost/faf/vault/map_previews/small/%s"
    large-previews-url-format: "http://localhost/faf/vault/map_previews/large/%s"
    download-url-format: "http://localhost/faf/vault/maps/%s"
  avatar:
    download-url-format: "http://localhost/faf/avatars/%s"
    target-directory: "build/cache/avatars"
    allowed-extensions: "png"
    max-size-bytes: 4096
    image-width: 40
    image-height: 20
  clan:
    website-url-format: "http://example.com/%s"
  tutorial:
    thumbnail-url-format: "http://test.com/faf/tutorials/%s/xyz"
  user:
    minimum-days-between-username-change: 30
  mail:
    from-email-name: "integration-test@faforever.com"
    from-email-address: "integration-test@faforever.com"
  mod:
    download-url-format: "http://localhost/mod/download-url/%s"
    preview-url-format: "http://localhost/mod/preview-url/%s"
  password-reset:
    password-reset-url-format: "http://localhost:8010/users/claimPasswordResetToken/%s"
    success-redirect-url: "http://localhost/password_resetted"
    subject: "Integration test password reset"
    html-format: "Integration test password reset html body"
  registration:
    activation-url-format: "http://localhost/users/activate?token=%s"
    success-redirect-url: "http://localhost/account_activated"
    subject: "Integration test registration"
    html-format: "Integration test registration html body"
  link-to-steam:
    steam-redirect-url-format: "http://localhost:8010/users/linkToSteam?token=%s"
  steam:
    realm: "http://localhost"
    api-key: "banana"
  replay:
    download-url-format: "http://localhost/faf/vault/replay_vault/replay.php?id=%s"
  mautic:
    client-id: banana
    client-secret: banana
  deployment:
    featured-mods-target-directory: "build/cache/mods"
    repositories-directory: ""
    forged-alliance-exe-path: "build/exe/faf"
    testing-exe-upload-key: banana
    forged-alliance-beta-exe-path: build/exe/beta
    forged-alliance-develop-exe-path: build/exe/develop
  featured-mod:
    file-url-format: "file://%s/%s"


logging:
  level:
    org.springframework.security: DEBUG
