faf-api:
  version: #faf-api.version#
  map:
    folder-zip-files: ${MAP_UPLOAD_PATH:"/content/faf/vault/maps"}
    folder-preview-path-small: ${MAP_PREVIEW_PATH_SMALL:"/content/faf/vault/map_previews/small"}
    folder-preview-path-large: ${MAP_PREVIEW_PATH_LARGE:"/content/faf/vault/map_previews/large"}

spring:
  application:
    name: FAF Java API Prototype
  mvc:
    favicon:
      enabled: false
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      connection-test-query: SELECT 1 FROM DUAL
      minimum-idle: 2
      maximum-pool-size: 8
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
        dialect: org.hibernate.dialect.MySQL5Dialect
  profiles:
    active: ${API_PROFILE:dev}

server:
  port: 8080

security:
  enable-csrf: true

management:
  context-path: /management
  port: 8081
  security:
    enabled: false
