faf-api:
  version: #faf-api.version#
  registration:
    subject: Account activation
    from-email: admin@faforever.com
    from-name: Forged Alliance Forever
    link-expiration-seconds: 86400
    html-format: <p>Dear %1$s,</p><p>welcome to the Forged Alliance Forever community. Please visit the following link to activate your account:</p><p><a href="%2$s">%2$s</a></p><p>-- The Forged Alliance Forever team.</p>

spring:
  application:
    name: FAF Java API Prototype
  mvc:
    favicon:
      enabled: false
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      connection-test-query: SELECT 1 FROM DUAL
      minimum-idle: 2
      maximum-pool-size: 8
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
        dialect: org.hibernate.dialect.MySQL5Dialect
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  profiles:
    active: ${API_PROFILE:dev}
  http:
    multipart:
      max-file-size: 300MB
      max-request-size: 300MB
      file-size-threshold: 5MB

server:
  # Mind that this is configured in the docker compose file as well (that is, in the gradle script that generates it)
  port: ${API_PORT:8010}
  context-path: ${CONTEXT_PATH:/}

security:
  enable-csrf: true
  oauth2:
    resource:
      filter-order: 3

management:
  context-path: /management
  port: 8081
  security:
    enabled: false

logging:
  level:
    com.faforever: ${LOG_LEVEL:info}
