<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <title>Authorizing</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css"/>
  <link href="https://faforever.com/styles/css/site.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="background hero"></div>
<div class="card">
  <h1>
    Authorize application
  </h1>
  <h2>
    <td th:text="${client.name}"></td>
  </h2>
  <p>This app would like to:</p>
  <ul>
    <li th:each="scope : ${scopes}" th:text="${scope.title}">Scope</li>
  </ul>
  <input name='user_oauth_approval' value='false' type='hidden'/>
  <div class="form-group button-bar">
    <form id='denialForm' name='denialForm' action='/oauth/authorize' method='post'>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:if="${_csrf != null }"/>
      <input name='user_oauth_approval' value='false' type='hidden'/>
      <input name="deny" value="Deny" type="submit" class="btn"/>
    </form>
    <form id='confirmationForm' name='confirmationForm' action='/oauth/authorize' method='post'>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:if="${_csrf != null }"/>
      <input name='user_oauth_approval' value='true' type='hidden'/>
      <input name="authorize" value="Authorize" type="submit" class="btn btn-danger"/>
    </form>
  </div>
</div>
</body>

</html>
