<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Validate map metadata</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css"/>
  <link href="https://faforever.com/styles/css/site.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  
  <script type="text/javascript">
      $(document).ready(function () {

          $('#validateMapName').click(function () {
              $("#mapNameTable .result").detach();

              let mapname = $('#mapname').val();

              $.post("/maps/validateMapName?mapName=" + encodeURIComponent(mapname))
                  .done(function (msg) {
                      $("#mapNameTable").append('<tr class="alert alert-success"><td>Map name</td><td>' + msg.displayName + '</td>');
                      $("#mapNameTable").append('<tr class="alert alert-success"><td>Next version</td><td>' + msg.nextVersion + '</td>');
                      $("#mapNameTable").append('<tr class="alert alert-success"><td>Folder name</td><td>' + msg.folderName + '</td>');
                      $("#mapNameTable").append('<tr class="alert alert-success"><td>File names</td><td>' + Object.entries(msg.fileNames).map(arr => arr[1]).join(', ') + '</td>');

                  })
                  .fail(function (xhr, status, error) {
                      xhr.responseJSON.errors.forEach(function (nextError) {
                          $("#mapNameTable").append('<tr class="result"><td>Error</td><td>' + nextError.detail + '</td>');
                      });
                  });
          });

          $('#validateMapScenario').click(function () {
              $("#mapScenarioTable .result").detach();

              let scenarioLua = {scenarioLua: $('#scenario_lua').val()};

              $.post("/maps/validateScenarioLua", scenarioLua)
                  .done(function (msg) {
                      $("#mapScenarioTable").append('<tr class="result"><td>Result</td><td>No errors</td>');
                  })
                  .fail(function (xhr, status, error) {
                      xhr.responseJSON.errors.forEach(function (nextError) {
                          $("#mapScenarioTable").append('<tr class="result"><td>Error</td><td>' + nextError.detail + '</td>');
                      });
                  });
          });

      });
  </script>
</head>
<body>
<div class="background hero"></div>
<div class="card">
  <h1>Validate map metadata</h1>

  <form class="form-group" action="#" method="post" name="mapName">
    <input  th:if="${_csrf != null }" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <div id="mapNameTable" class="mapTable">
      <div>
        <div>Map name</div>
        <div><input class="form-control" id="mapname" name="mapname" placeholder="Map name" size="80" type="text"/></div>
      </div>
      <div>
        <div colspan="2"><input class="btn btn-danger" id="validateMapName" name="validateMapName" type="button"
                               value="Validate name"/></div>
      </div>
    </div>
  </form>

  <hr/>

  <form class="form-group" action="#" method="post" name="mapScenario">
    <input class="form-control" th:if="${_csrf != null }" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <div id="mapScenarioTable"  class="mapTable">
      <div>
        <div>scenario.lua</div>
        <div><textarea id="scenario_lua" name="scenario_lua"
                      placeholder="Put your scenario.lua content here (optional)"
                      ></textarea></div>
      </div>
      <div>
        <div colspan="2"><input class="btn btn-danger" id="validateMapScenario" name="validateMapScenario"
                               type="button" value="Validate scenario.lua"/>
         </div>
      </div>
    </div>
  </form>
</div>
</body>
</html>
